{% extends 'base.html.twig' %}

{% block title %}Page d'accueil!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 100%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #FFFFFF; padding: 2px 6px; }
</style>

<div class="container">
    <h1>Bienvenue à {{ controller_name }}! 🥳</h1>

    <h3><b>Menu :</b></h3>
    <nav>
    <ul>
        <li><a href="/">Page d'accueil <i>(ici)</i></a></li>
        <b><li><a href="/contact">Page de contact</a></li></b>
        <li><a href="{{ path('contact', {name: "enzo"}) }}">Contacter de la part d'Enzo</a></li>
        <li><a href="/blog">Demandes de contact</a></li>
        <li><a href="/add_article">Creer un article</a></li>
    </ul>
    </nav>
</div>
{% endblock %}
