{% extends 'base.html.twig' %}

{% block title %}Hello AccueilController!{% endblock %}

{% block body %}

    <html>
        <p>accueil</p>
        <a href="index.html.twig"></a>
    </html>
{% endblock %}
