{% extends 'base.html.twig' %}

{% block title %}Hello Blog !{% endblock %}

{% block body %}

    <h1>C'est la page blog 1</h1>
    <div>
        <lorem>salt</lorem>
    </div>
{% endblock %}

{% block footer %}

    <h1>C'est le footer de la page </h1>
{% endblock %}