{% extends 'base.html.twig' %}

{% block title %}Demande de contact!{% endblock %}

{% block body %}

<div class="example-wrapper">
    {{ form(form) }}
    
    // on introduit ici le formulaire
</div>
{% endblock %}
