{% extends 'base.html.twig' %}

{% block title %}salut c'est la page Contact ! {% endblock %}

{% block body %}

    <h1>liste contact</h1>
    <ul>
        <li>contact 1</li>
        <li>contact 2</li>
        <li>contact 3</li>
        <li>contact 4</li>
    </ul>
{% endblock %}
